{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="detailsPage">
<div class="wrapper update-wrapper">
  <div class="UpdateCover">
    <!-- Update Image -->
  </div>

  <div class="UpdateInfo">
    <div class="UpdateText">
      <!-- Update Info -->
      <h1><span class="field-label">Title:</span> <span class="field-value">{{ update.title }}</span></h1>
      <h4><span class="field-label">Category:</span> <span class="field-value">{{ update.category }}</span></h4>
      <p>
        <span class="field-label">Description:</span> <span class="field-value">{{ update.description }}</span>
      </p>
      <h4>Made by: {{ update.made_by }}</h4>
      <h4><span class="field-label">Created at:</span> <span class="field-value">{{ update.created_at }}</span></h4>
    </div>

    <div class="actionBtn">
      <!-- Update Buttons -->
      <a href="{% url 'important_updates:update-edit' update.pk %}" class="edit">Edit</a>
      <a href="{% url 'important_updates:update-delete' update.pk %}" class="remove">Delete</a>
    </div>
  </div>
</div>
</section>
{% endblock %}
