{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="detailsPage">
<div class="wrapper">
  <div class="UpdateCover">
    <!-- Update Image -->
    <img src="{% static 'images/Important_updates_image.png'%}" alt="Cover Image" />
  </div>

  <div class="UpdateInfo">
    <div class="UpdateText">
      <!-- Update Info -->
      <h1>Title: {{ update.title }}</h1>
      <h4>Category: {{ update.category }}</h4>
      <p>
        Description: {{ update.description }}
      </p>
      <h4>Made by: {{ update.made_by }}</h4>
      <h4>Created at: {{ update.created_at }}</h4>
    </div>

    <div class="actionBtn">
      <!-- Update Buttons -->
      <a href="{% url 'updates:edit' update.pk %}" class="edit">Edit</a>
      <a href="{% url 'updates:delete' update.pk %}" class="remove">Delete</a>
    </div>
  </div>
</div>
</section>
{% endblock %}
