{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-inline">
<section id="welcomePage">
  <div id="welcome-message">
    <h1>Welcome to</h1>
    <h1>Shift Handover Management System (24×7)</h1>
  </div>
  <div class="music-img">
    <img src="{% static 'images/Handover_static_file.png' %}" alt="handover-icon" />
  </div>
</section>

<!-- Registration -->
<section id="registerPage">
    <form method="post">
        <fieldset>
            <legend>Profile</legend>
            {{ form }}
            {% csrf_token %}
            <button type="submit" class="register">Login</button>
        </fieldset>
    </form>
</section>
</div>
{% endblock %}
