{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="catalogPage">

{% if important_updates %}
    <h1>All Important Updates</h1>
    <img src="{% static 'images/Important_updates_image.png'%}" alt="Cover Image" />
{% else %}
    <p>No recent updates!</p>
{% endif %}

{% for update in important_updates %}
    <div class="card-box">
        <div class="text-center">
            <img src="{% static update.category_image %}" alt="{{ update.category }}">
            <p class="title">Title: {{ update.title}}</p>
            <p class="description">Description: {{ update.description }}</p>
            <p class="category">Category: {{ update.category }}</p>
            <p class="created_at">Created at: {{ update.created_at }}</p>
        </div>
            <div class="btn-group">
                <a href="{% url 'updates:details' update.pk %}">Details</a>
            </div>
    </div>
{% empty %}

{% endfor %}
</section>
{% endblock %}
